In [10]:
# 3.1 Warm Up Exercises:
# 1. Sorting and Subsetting:

#1.Load the provided dataset and import in pandas DataFrame.
import pandas as pd
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
#Loading the titanic dataset

try:
    titanic_data=pd.read_csv(file_path)
    dataframe=pd.read_csv(file_path)
    dataframe.info()

except Exception as e:
    print(e)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
import pandas as pd

# Load the Titanic dataset
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
try:
    titanic_data = pd.read_csv(file_path)
    
    # Create a DataFrame with only the Fare column
    fare = titanic_data[['Fare']]
    
    # Print the head of the Fare DataFrame
    print(fare.head())
except Exception as e:
    print(e)

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [2]:
#2.Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.
import pandas as pd

# Load the Titanic dataset
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
try:
    titanic_data = pd.read_csv(file_path)
    class_age = titanic_data[['Pclass', 'Age']]#Create a DataFrame with only the Pclass and Age columns
    print(class_age.head())# Print the head of the class_age DataFrame
except Exception as e:
    print(e)

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [4]:
#3.Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.
import pandas as pd


file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"  
try:
    titanic_data = pd.read_csv(file_path)
    survived_gender = titanic_data[['Survived', 'Sex']]# Create a DataFrame with only the Survived and Sex columns
    print(survived_gender.head())# Print the head of the survived_gender DataFrame
except Exception as e:
    print(e)

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [6]:
#Problem - 2 - Subsetting:
#1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare gt 100.View the printed result.
import pandas as pd

# Load the Titanic dataset
file_path=r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv" 
try:
    titanic_data = pd.read_csv(file_path)
    fare_greater_100 = titanic_data[titanic_data['Fare'] > 100]# Filter passengers with a fare greater than 100
    print(fare_greater_100.head())# View the filtered result
except Exception as e:
    print(e)

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

In [8]:
#2.Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first class.View the printed result.
import pandas as p
file_path=r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
try:
    titanic_data = pd.read_csv(file_path)
    Pclass_equal_1 = titanic_data[titanic_data['Pclass']==1] # Filter passenger's dataset when Pclass is 1
    print(Pclass_equal_1.head())#view the filtered result
except Exception as e:
    print(e)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

In [3]:
#3.Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18. View the printed result.
import pandas as pd
file_path=r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
try:
    titanic_data = pd.read_csv(file_path)
    age_under_18 = titanic_data[titanic_data['Age']<18]#Filter age under 18
    print(age_under_18.head())#view the filtered result
except Exception as e:
    print(e)

    PassengerId  Survived  Pclass                                  Name  \
7             8         0       3        Palsson, Master. Gosta Leonard
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
16           17         0       3                  Rice, Master. Eugene

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
7     male   2.0      3      1   349909  21.0750   NaN        S
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
16    male   2.0      4      1   382652  29.1250   NaN        Q

In [5]:
#4.Subsetting Rows by Categorical variables:
#1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"(Southampton), assigning the result to embarked c or s. View the printed result.
import pandas as pd
# Load the Titanic dataset
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv" 
try:
    titanic_data = pd.read_csv(file_path)
    embarked_c_or_s = titanic_data[titanic_data['Embarked'].isin(['C', 'S'])]# Filter for passengers whose Embarked port is either "C" or "S"
    print(embarked_c_or_s.head())# Print the result
except Exception as e:
    print(e)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
#2.Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

import pandas as pd
try:
    file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"  
    titanic_data = pd.read_csv(file_path)
    first_second_class = titanic_data[titanic_data['Pclass'].isin([1, 2])]# Filter for passengers whose Pclass is in [1, 2]
    print(first_second_class.head())# Print the result

except Exception as e:
    print(e)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [9]:
#3.2 Exploratory Data Analysis Practice Exercise-
#Which passenger had the highest fare paid relative to their age?
#1.Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of the passenger(i.e.Fare/Age).
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"
try:
    titanic_data = pd.read_csv(file_path)
    first_second_class = titanic_data[titanic_data['Pclass'].isin([1, 2])] # Filter for passengers whose Pclass is in [1, 2]
    print(first_second_class.head())# Print the result

except Exception as e:
    print(e)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [10]:
#2.Subset rows where fare per year is higher than 5, assigning this to high fare age.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Fill missing Age values with the median
    titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())
    
    # Add the new column "Fare per Year"
    titanic_data['Fare_per_Year'] = titanic_data['Fare'] / titanic_data['Age']
    
    # Print the first few rows of the dataset to verify
    print(titanic_data[['PassengerId', 'Fare', 'Age', 'Fare_per_Year']].head())

except Exception as e:
    print(e)

   PassengerId     Fare   Age  Fare_per_Year
0            1   7.2500  22.0       0.329545
1            2  71.2833  38.0       1.875876
2            3   7.9250  26.0       0.304808
3            4  53.1000  35.0       1.517143
4            5   8.0500  35.0       0.230000

In [8]:
#3 Sort high fare age by descending fare per year, assigning this to high fare age srt.
import pandas as pd
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    #Handle missing Age values by filling with the median
    titanic_data['Age'] = titanic_data['Age'].fillna(titanic_data['Age'].median())
    
    #Add the new column 'Fare per Year' (Fare/Age)
    titanic_data['Fare_per_Year'] = titanic_data['Fare'] / titanic_data['Age']

    
    #Subset the rows where 'Fare_per_Year' is greater than 5
    high_fare_age = titanic_data[titanic_data['Fare_per_Year'] > 5]
    
    #Sort by 'Fare_per_Year' in descending order
    high_fare_age_srt = high_fare_age.sort_values(by='Fare_per_Year', ascending=False)
    print(high_fare_age_srt[['PassengerId', 'Fare', 'Age', 'Fare_per_Year']].head())

except Exception as e:
    print(e)

     PassengerId      Fare   Age  Fare_per_Year
305          306  151.5500  0.92     164.728261
297          298  151.5500  2.00      75.775000
386          387   46.9000  1.00      46.900000
164          165   39.6875  1.00      39.687500
183          184   39.0000  1.00      39.000000

In [6]:
#4 Select only the Name and fare per year columns of high fare age srt and save the result as result.

result = high_fare_age_srt[['Name', 'Fare_per_Year']]
print(result.head())# Display the result to verify

                                Name  Fare_per_Year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [11]:
#4 Save the result
try:
    # Save the result to a CSV file
    result.to_csv(r"I:/Second Year/AI Workshop/CSV/highfare_result.csv", index=False)
    print("Saved successfully!")

except Exception as e:
    # Print error message if something goes wrong
    print(f"Error saving file: {e}")

Saved successfully!

In [12]:
#5Look at the result.

# Load the saved CSV file to verify its contents
saved_result = pd.read_csv(r"I:/Second Year/AI Workshop/CSV/highfare_result.csv")

# Display the first few rows of the saved result
print(saved_result.head())

                              Name  Fare_per_Year
0   Allison, Master. Hudson Trevor     164.728261
1     Allison, Miss. Helen Loraine      75.775000
2  Goodwin, Master. Sidney Leonard      46.900000
3     Panula, Master. Eino Viljami      39.687500
4        Becker, Master. Richard F      39.000000

In [13]:
#Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class?
#1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class i.e. Fare / Pclass.

import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    titanic_data = pd.read_csv(file_path) # Load the dataset
    
    #Add a new column 'fare_per_class' which is Fare / Pclass
    titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']
    
    # Print 
    print(titanic_data[['PassengerId', 'Fare', 'Pclass', 'fare_per_class']].head())

except Exception as e:
    print(f"Error: {e}")

   PassengerId     Fare  Pclass  fare_per_class
0            1   7.2500       3        2.416667
1            2  71.2833       1       71.283300
2            3   7.9250       3        2.641667
3            4  53.1000       1       53.100000
4            5   8.0500       3        2.683333

In [14]:
#2.Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal to 18), assigning this to adult males.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Step 1: Add the 'fare_per_class' column
    titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']
    
    # Step 2: Subset rows where passenger is male and age >= 18
    adult_males = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] >= 18)]
    
    # Print the first few rows of the subset to verify
    print(adult_males[['PassengerId', 'Sex', 'Age', 'Fare', 'Pclass', 'fare_per_class']].head())

except Exception as e:
    print(f"Error: {e}")

    PassengerId   Sex   Age     Fare  Pclass  fare_per_class
0             1  male  22.0   7.2500       3        2.416667
4             5  male  35.0   8.0500       3        2.683333
6             7  male  54.0  51.8625       1       51.862500
12           13  male  20.0   8.0500       3        2.683333
13           14  male  39.0  31.2750       3       10.425000

In [15]:
#3.Sort adult males by descending fare per class, assigning this to adult males srt.
import pandas as pd
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    #Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    #Add the 'fare_per_class' column
    titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']
    
    #Subset rows where passenger is male and age >= 18
    adult_males = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] >= 18)]
    
    #Sort adult males by 'fare_per_class' in descending order
    adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
    
    # Print the first few rows of the sorted dataframe to verify
    print(adult_males_srt[['PassengerId', 'Sex', 'Age', 'Fare', 'Pclass', 'fare_per_class']].head())

except Exception as e:
    print(f"Error: {e}")

     PassengerId   Sex   Age      Fare  Pclass  fare_per_class
737          738  male  35.0  512.3292       1        512.3292
679          680  male  36.0  512.3292       1        512.3292
438          439  male  64.0  263.0000       1        263.0000
27            28  male  19.0  263.0000       1        263.0000
118          119  male  24.0  247.5208       1        247.5208

In [16]:
#5.
import pandas as pd
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Add the 'fare_per_class' column
    titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']
    
    #Subset rows where passenger is male and age >= 18
    adult_males = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] >= 18)]
    
    #Sort adult males by 'fare_per_class' in descending order
    adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
    
    #Select only 'Name', 'Age', and 'fare_per_class' columns and save as 'result'
    result = adult_males_srt[['Name', 'Age', 'fare_per_class']]
    
    # Print the first few rows of the result to verify
    print(result.head())

except Exception as e:
    print(f"Error: {e}")

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [17]:
#3 Exploratory Data Analysis with Group-by Method Practice Exercise:
#What percent of the total fare revenue came from each passenger class?
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Calculate the total fare paid by all passengers
    total_fare = titanic_data['Fare'].sum()
    
    # Print the total fare
    print(f"The total fare paid across all passengers is: {total_fare}")
    
except Exception as e:
    print(f"Error: {e}")

The total fare paid across all passengers is: 28693.9493

In [18]:
#2.Subset for passengers in first class (Pclass is 1) and calculate their total fare.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Subset for passengers in first class (Pclass is 1)
    first_class_passengers = titanic_data[titanic_data['Pclass'] == 1]
    
    # Calculate the total fare for first class passengers
    total_fare_first_class = first_class_passengers['Fare'].sum()
    
    # Print the total fare for first class passengers
    print(f"The total fare paid by first class passengers is: {total_fare_first_class}")
    
except Exception as e:
    print(f"Error: {e}")

The total fare paid by first class passengers is: 18177.4125

In [19]:
#3.Do the same for second class (Pclass is 2) and third class (Pclass is 3).
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Subset for passengers in second class (Pclass is 2)
    second_class_passengers = titanic_data[titanic_data['Pclass'] == 2]
    total_fare_second_class = second_class_passengers['Fare'].sum()
    
    # Subset for passengers in third class (Pclass is 3)
    third_class_passengers = titanic_data[titanic_data['Pclass'] == 3]
    total_fare_third_class = third_class_passengers['Fare'].sum()
    
    # Print the total fare for second class and third class passengers
    print(f"The total fare paid by second class passengers is: {total_fare_second_class}")
    print(f"The total fare paid by third class passengers is: {total_fare_third_class}")
    
except Exception as e:
    print(f"Error: {e}")

The total fare paid by second class passengers is: 3801.8417
The total fare paid by third class passengers is: 6714.6951

In [20]:
#4.Combine the fare totals from first, second, and third classes into a list.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Subset for passengers in first class (Pclass is 1)
    first_class_passengers = titanic_data[titanic_data['Pclass'] == 1]
    total_fare_first_class = first_class_passengers['Fare'].sum()
    
    # Subset for passengers in second class (Pclass is 2)
    second_class_passengers = titanic_data[titanic_data['Pclass'] == 2]
    total_fare_second_class = second_class_passengers['Fare'].sum()
    
    # Subset for passengers in third class (Pclass is 3)
    third_class_passengers = titanic_data[titanic_data['Pclass'] == 3]
    total_fare_third_class = third_class_passengers['Fare'].sum()
    
    # Combine the fare totals into a list
    fare_totals = [total_fare_first_class, total_fare_second_class, total_fare_third_class]
    
    # Print the fare totals list
    print(f"Total fares for each class: {fare_totals}")
    
except Exception as e:
    print(f"Error: {e}")

Total fares for each class: [np.float64(18177.4125), np.float64(3801.8417), np.float64(6714.6951)]

In [23]:
#5.
import pandas as pd

# Define file path to the Titanic dataset
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Subset for passengers in first class (Pclass is 1)
    first_class_passengers = titanic_data[titanic_data['Pclass'] == 1]
    total_fare_first_class = first_class_passengers['Fare'].sum()
    
    # Subset for passengers in second class (Pclass is 2)
    second_class_passengers = titanic_data[titanic_data['Pclass'] == 2]
    total_fare_second_class = second_class_passengers['Fare'].sum()
    
    # Subset for passengers in third class (Pclass is 3)
    third_class_passengers = titanic_data[titanic_data['Pclass'] == 3]
    total_fare_third_class = third_class_passengers['Fare'].sum()
    
    # Calculate the overall total fare paid across all passengers
    total_fare_overall = titanic_data['Fare'].sum()
    
    # Calculate the proportion of fare revenue by class
    proportion_first_class = total_fare_first_class / total_fare_overall
    proportion_second_class = total_fare_second_class / total_fare_overall
    proportion_third_class = total_fare_third_class / total_fare_overall
    
    # Print the proportions for each class
    print(f"Proportion of fare revenue by class:")
    print(f"First Class: {proportion_first_class:.4f}")
    print(f"Second Class: {proportion_second_class:.4f}")
    print(f"Third Class: {proportion_third_class:.4f}")
    
except Exception as e:
    print(f"Error: {e}")

Proportion of fare revenue by class:
First Class: 0.6335
Second Class: 0.1325
Third Class: 0.2340

In [24]:
#What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?
#1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).

import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Create a new column 'age group' based on the conditions
    def categorize_age(age):
        if age < 18:
            return 'child'
        elif 18 <= age < 65:
            return 'adult'
        else:
            return 'senior'

    # Apply the function to the 'Age' column to create the 'age group' column
    titanic_data['age group'] = titanic_data['Age'].apply(categorize_age)
    
    # Print the first few rows to verify the new column
    print(titanic_data[['PassengerId', 'Age', 'age group']].head())
    
except Exception as e:
    print(f"Error: {e}")

   PassengerId   Age age group
0            1  22.0     adult
1            2  38.0     adult
2            3  26.0     adult
3            4  35.0     adult
4            5  35.0     adult

In [25]:
#2.Calculate the total number of passengers on the Titanic.
import pandas as pd

# Define file path to the Titanic dataset
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Calculate the total number of passengers
    total_passengers = len(titanic_data)
    
    # Alternatively, you can use the shape attribute
    # total_passengers = titanic_data.shape[0]
    
    # Print the result
    print(f"Total number of passengers: {total_passengers}")
    
except Exception as e:
    print(f"Error: {e}")

Total number of passengers: 891

In [26]:
#3.Count the number of passengers in each age group.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Create the 'age group' column if not already created
    def categorize_age(age):
        if age < 18:
            return 'child'
        elif 18 <= age < 65:
            return 'adult'
        else:
            return 'senior'

    # Apply the function to the 'Age' column to create the 'age group' column
    titanic_data['age group'] = titanic_data['Age'].apply(categorize_age)
    
    # Count the number of passengers in each age group
    age_group_counts = titanic_data['age group'].value_counts()
    
    # Print the result
    print("Number of passengers in each age group:")
    print(age_group_counts)
    
except Exception as e:
    print(f"Error: {e}")

Number of passengers in each age group:
age group
adult     590
senior    188
child     113
Name: count, dtype: int64

In [27]:
#4.Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group.
import pandas as pd
file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Create the 'age group' column if not already created
    def categorize_age(age):
        if age < 18:
            return 'child'
        elif 18 <= age < 65:
            return 'adult'
        else:
            return 'senior'

    # Apply the function to the 'Age' column to create the 'age group' column
    titanic_data['age group'] = titanic_data['Age'].apply(categorize_age)
    
    # Count the number of passengers in each age group
    age_group_counts = titanic_data['age group'].value_counts()
    
    # Calculate the total number of passengers
    total_passengers = len(titanic_data)
    
    # Calculate the proportion of passengers in each age group
    age_group_proportions = age_group_counts / total_passengers
    
    # Print the proportions for each age group
    print("Proportion of passengers in each age group:")
    print(age_group_proportions)
    
except Exception as e:
    print(f"Error: {e}")

Proportion of passengers in each age group:
age group
adult     0.662177
senior    0.210999
child     0.126824
Name: count, dtype: float64

In [28]:
#5.5. Display the proportion as a percentage.
import pandas as pd

file_path = r"I:/Second Year/AI Workshop/CSV/titanic_dataset.csv"

try:
    # Load the dataset
    titanic_data = pd.read_csv(file_path)
    
    # Create the 'age group' column if not already created
    def categorize_age(age):
        if age < 18:
            return 'child'
        elif 18 <= age < 65:
            return 'adult'
        else:
            return 'senior'

    # Apply the function to the 'Age' column to create the 'age group' column
    titanic_data['age group'] = titanic_data['Age'].apply(categorize_age)
    
    # Count the number of passengers in each age group
    age_group_counts = titanic_data['age group'].value_counts()
    
    # Calculate the total number of passengers
    total_passengers = len(titanic_data)
    
    # Calculate the proportion of passengers in each age group
    age_group_proportions = age_group_counts / total_passengers
    
    # Convert the proportions to percentages
    age_group_percentages = age_group_proportions * 100
    
    # Print the percentages for each age group
    print("Proportion of passengers in each age group (as percentage):")
    print(age_group_percentages)
    
except Exception as e:
    print(f"Error: {e}")

Proportion of passengers in each age group (as percentage):
age group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64